/*
 * Author: Luis Camacho Jr.
 * Full Sail University
 * Course: AVF
 * Term: 1311
 * Activity Demo App Week 3
 */

.ui-header h1.ui-title {
            font-size: 12px;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 300px;
    
}
#pageOne header img {
    width: 20%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto

}
#pageOne img {
    width: 35%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto

}
div.ui-content  {
                font-size: 12px;
    text-align: center;
}
/*#pageOne {
    text-align: center;
    background: url("../img/backgroundMIUProject4.png") no-repeat;
    background-size: 100% 100%;
}*/
#pageOne .ui-listview {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 240px;

}
#pageOne {
    background: rgb(225,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(225,255,255,1) 0%, rgba(225,255,255,1) 7%, rgba(225,255,255,1) 12%, rgba(253,255,255,1) 12%, rgba(230,248,253,1) 30%, rgba(200,238,251,1) 54%, rgba(190,228,248,1) 75%, rgba(177,216,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,255,255,1)), color-stop(7%,rgba(225,255,255,1)), color-stop(12%,rgba(225,255,255,1)), color-stop(12%,rgba(253,255,255,1)), color-stop(30%,rgba(230,248,253,1)), color-stop(54%,rgba(200,238,251,1)), color-stop(75%,rgba(190,228,248,1)), color-stop(100%,rgba(177,216,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */
}
#addProject .ui-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 300px;

}
#text-basic {
color: #000000 ;
}
label.error {
    color: red;
}
ul li {
    list-style: none;
    padding:14px;

}
#editItemSeparator {

    background-color: #FCF469;
    height: 5px;
    width: 70%;

}
#dynamic {
    width: 75%;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 100%;

}
#addProject img {
                width: 70%;
                max-width: 250px;
                display: block;
                margin-top: 10%;
                margin-left: auto;
                margin-right: auto;
}
header h2 {
    font-family: "chalkduster", cursive;

}
header h1 {
    font-family: "chalkduster", cursive;
}
section.pageOne.ui-content{
    text-align: center;
}
section.pageOne.ui-content section    {
    display: inline-block;
    margin-right: 0px;
    margin-left: 50px;
    position: relative;
    font-family: "chalkduster", cursive;
    vertical-align: top;
}
#apiGrid img {
    max-width: 100%;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#apiGridB img {
    max-width: 100%;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 3px;
    border: 1px solid #E7E7E7;
}
section#apiGrid.ui-grid-a h3 {
    margin: 15px 0 5px 0;
    height: 45px;
    font-size: 18px;
    text-align: center;
}
/*section#apiGridB.ui-grid-a {
    width: 100%;
    overflow: auto;
}*/
/*section.ui-block-a {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px;
}*/
section#apiGridB.ui-grid-a h3 {
    margin: 15px 0 5px 0;
    height: 45px;
    font-size: 18px;
    text-align: center;
}
section.ui-content section h1{
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom: 2px
    solid #FCF469;
    font-family: "chalkduster", cursive;
}
section.ui-content section h2{
    font-size: 1em;
    font-family: "chalkduster", cursive;
}
section.ui-page {
    background: rgb(225,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(225,255,255,1) 0%, rgba(225,255,255,1) 7%, rgba(225,255,255,1) 12%, rgba(253,255,255,1) 12%, rgba(230,248,253,1) 30%, rgba(200,238,251,1) 54%, rgba(190,228,248,1) 75%, rgba(177,216,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,255,255,1)), color-stop(7%,rgba(225,255,255,1)), color-stop(12%,rgba(225,255,255,1)), color-stop(12%,rgba(253,255,255,1)), color-stop(30%,rgba(230,248,253,1)), color-stop(54%,rgba(200,238,251,1)), color-stop(75%,rgba(190,228,248,1)), color-stop(100%,rgba(177,216,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 7%,rgba(225,255,255,1) 12%,rgba(253,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */
}
section#dynamicWeek1 {
    text-align: left;
    margin: 15px 0 5px 0;
    width: 90%;
}
#myImage img {
    max-width: 100%;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

section.pageOneA ul li a{
    background-image: linear-gradient(bottom, #FCF469 45%);
    background-image: -o-linear-gradient(bottom, #FCF469 45%);
    background-image: -moz-linear-gradient(bottom, #FCF469 45%);
    background-image: -webkit-linear-gradient(bottom, #FCF469 45%);
    background-image: -ms-linear-gradient(bottom, #FCF469 45%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.45, #FCF469)
    );
    display: inline-block;
    outline: none;
    cursor: progress;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    color: #878787;
    font-family: "chalkduster", cursive;
    font-size: 1em;

}

@media screen
and (min-width : 768px)
and (max-width : 1024px)
{
    section.pageOne.ui-content section    {
        display: inline-block;
        margin-right: 1px;
        margin-left: 1px;
        position: relative;
        font-family: "chalkduster", cursive;
        font-size: 12px;
        vertical-align: top;

    }
    #pageOne header img {
        width: 14.74609375%;
        max-width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}